header
	position: relative
	height: 50px

nav
	position: fixed
	width: 100%
	height: 50px
	background-color: $main-color
	z-index: 5

.hamburger
	display: none

.menu
	display: flex
	justify-content: space-between
	padding: 13px 20px
	margin: 0
	list-style-type: none
	&_link
		color: $text-color
		font-size: 15px
		font-weight: 400
		&:hover, &:focus, &:active
			text-decoration: none
			color: #000
			font-weight: 700
	&_item
		padding-right: 70px
		&:nth-child(7)
			padding-right: 0
			

.subheader
	position: absolute
	top: 30px
	width: 100%
	height: 84px
	background-color: rgba(200, 200, 245, 0.6)
	z-index: 1

.info
	text-align: center
	padding-top: 24px 
	&_title
		color: #000
		font-size: 18px
		font-weight: 700
	&_phone
		color: #000
		font-size: 22px
		font-weight: 700

.promo
	position: relative
	min-height: 700px
	background: url('../img/promo_bg.jpg') center (center / cover) no-repeat
	&_bg::before
		background: rgba(0, 0, 0, 0.4)
		content: ""
		position: absolute
		width: 100%
		min-height: 700px
	&_header
		color: #fff
		font-size: 40px
		font-weight: 700
		text-transform: uppercase
		margin: 0
		text-align: center
		padding-top: 180px
	&_descr
		color: #fff
		font-size: 18px
		font-weight: 400
		text-align: center
		margin-top: 40px

.wrapper
	min-height: 100%
	.container
		width: 100%
		margin: 0 auto
		padding: 0

.form-xs
	display: none

.panel
	position: relative
	border: none
	margin: 35px 0 20px
	border-radius: 4px

.panel-heading
	position: relative
	background-color: $main-color
	color: $text-color
	border-color: transparent
.sidebar-header
	font-size: 120%
	letter-spacing: 2px
	padding: 10px 15px
.panel-body
	padding: 15px
	background-color: #f9f9f9
.panel-search
	min-height: 100px
.form-group
	margin-bottom: 15px
.input-group
	position: relative
.form-control 
	border-radius: 0px
input #search
	width: 300px
	height: 46px
	background-color: #fff
	border: 1px solid $text-color
	font-size: 14px
	float: right
	color: $text-color
	padding: 10px 40px 10px 16px
	border-radius: 5px
.icon
	position: absolute
	width: 32px
	right: 10px
	top: 0
	height: 100%
	display: flex
	align-items: center
	justify-content: center
	color: $text-color

.btn-lg
	position: absolute
	border: 1px solid #ced4da
	background-color: #fff
.panel-admin
	min-height: 185px
.btn-warning
	
	background-color: $main-color
	border-color: $main-color
.pull-right
	float: right !important
	padding: 10px
.list-group
	margin-bottom: 20px
.list-group-item
	a
		color: $text-color
.check-title 
	font-size: 30px
	font-weight: 700
	text-align: center
	margin-top: 30px
.btn
	padding: 10px
	cursor: pointer
	&:hover
		color: #000
		text-shadow: 0 0 0px black, 0 0 0px black
		background-color: #d2d2f9
		border: none
		box-shadow: none
.btn-group
	font-size: 14px
.btn-actions
	display: flex
	justify-content: center
	margin: 30px 0
	.btn-secondary 
		width: 100px
		background-color: $main-color
		color: $text-color
		margin-right: 20px
		padding: 10px
		border: 1px solid #ced4da
		border-radius: 6px !important
		&:nth-child(6)
			margin-right: 0
	.btn-secondary:hover
		color: #000
		text-shadow: 0 0 0px black, 0 0 0px black
		background-color: #d2d2f9
.block-table
	display: flex
	justify-content: center
	min-width: 320px
    max-width: 100%
    padding: 0 15px
    box-sizing: border-box
	.table
		border-collapse: collapse
		width: 100%
		margin: 20px  0
	.table td, .table th
		font-size: 14px
		padding: 10px
		border: 1px solid $text-color
	.table-title
		text-align: center
		background-color: $main-color
		color: $text-color
		.title 
			vertical-align: middle	
		
		
			

